/* All of YOUR styles go here. They take effect after those in the normalize CSS file, but will overwrite anything that conflicts. */
dl dt {
    font-weight: 900;
}

dl dd {
    padding-bottom: 1em;
}